#about-container {
  color: #4a1e07;
  display: flex;
  cursor: default;
}
@media (max-width: 840px) {
  #about-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 841px) {
  #about-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  #about-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 500px) {
  #about-container {
    scrollbar-color: #fbd7c3 #843408;
    scrollbar-width: thin;
  }
  #about-container ::-webkit-scrollbar {
    width: 1rem;
    background: inherit;
  }
  #about-container ::-webkit-scrollbar-track {
    background-clip: content-box;
  }
  #about-container ::-webkit-scrollbar-thumb {
    background: #843408;
    border-radius: 0.5rem;
  }
  #about-container ::-webkit-scrollbar-thumb:hover {
    background: #a8420a;
  }
}
.about-toggle {
  background: #fbd7c3;
  border-radius: 0.5rem;
}
#portrait-container {
  display: flex;
}
@media (max-width: 840px) {
  #portrait-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 841px) {
  #portrait-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
  }
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  #portrait-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 15vw;
  }
}
#portrait-container #selfie {
  height: auto;
  transition: filter 0.3s, -webkit-filter 0.3s;
  margin: 0.5rem 0 0.5rem 1.5rem;
}
@media (max-width: 840px) {
  #portrait-container #selfie {
    width: 55%;
  }
}
@media (min-width: 841px) {
  #portrait-container #selfie {
    width: 75%;
  }
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  #portrait-container #selfie {
    width: 35%;
  }
}
#portrait-container #skills-container {
  display: flex;
}
@media (max-width: 500px) {
  #portrait-container #skills-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #portrait-container #skills-container .row {
    width: 15%;
    margin: 0 2.25rem;
  }
  #portrait-container #skills-container .row .skill-icon {
    margin: 1rem 0;
  }
}
@media (min-width: 501px) and (max-width: 840px) {
  #portrait-container #skills-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #portrait-container #skills-container .row {
    width: 15%;
    margin: 0 4rem;
  }
  #portrait-container #skills-container .row .skill-icon {
    margin: 1rem 0;
  }
}
@media (min-width: 841px) {
  #portrait-container #skills-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #portrait-container #skills-container .row {
    margin: 1.25rem 0 1.25rem 1.2rem;
  }
  #portrait-container #skills-container .row .skill-icon {
    margin: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  #portrait-container #skills-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #portrait-container #skills-container .row {
    width: 25%;
    margin: 0 2.25rem;
  }
  #portrait-container #skills-container .row .skill-icon {
    margin: 1rem 0;
  }
}
#about-text-container {
  font-weight: normal;
  overflow-x: hidden;
  overflow-y: scroll;
}
#about-text-container p {
  font-family: "Jost", sans-serif;
  text-align: justify;
  text-indent: 2rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
@media (max-width: 500px) {
  #about-text-container p {
    line-height: 2.5rem;
    margin: 0.55rem 1.1rem 1.1rem 1.1rem;
  }
}
@media (min-width: 501px) {
  #about-text-container p {
    line-height: 3rem;
    margin: 0 4rem 1.1rem 1.1rem;
  }
}
@media (min-width: 768px) and (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  #about-text-container p {
    line-height: 3.75rem;
    margin: 1rem 2rem 1.1rem 1.1rem;
  }
}
@media (max-width: 840px) {
  #about-text-container {
    width: 100%;
    height: 95%;
    font-size: 2.25rem;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, #843408 5%, #843408 95%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, #843408 5%, #843408 95%, transparent 100%);
  }
}
@media (min-width: 841px) {
  #about-text-container {
    width: 60%;
    height: 95%;
    font-size: 2.5rem;
    margin: 1.1rem 2rem 1.1rem 1.1rem;
  }
}
@media (min-width: 768px) and (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  #about-text-container {
    width: 90%;
    height: 95%;
    font-size: 3.5rem;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, #843408 5%, #843408 95%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, #843408 5%, #843408 95%, transparent 100%);
  }
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  #email-svg {
    margin-top: 1.25rem;
  }
}
@media (min-width: 501px) {
  #email-svg {
    transition: filter 0.3s, -webkit-filter 0.3s;
  }
  #email-svg g path {
    transition: stroke 0.3s;
  }
  #email-svg:hover {
    filter: drop-shadow(0px 2px 2px #843408);
    -webkit-filter: drop-shadow(0px 2px 2px #843408);
  }
  #email-svg:hover g path {
    stroke: #fefcfa;
  }
}
