#about-container {
  color: #4a1e07;
  display: flex;
}
@media (max-width: 500px) {
  #about-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 500px) {
  #about-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 501px) {
  #about-container {
    scrollbar-color: #fbd7c3 #843408;
    scrollbar-width: thin;
  }
  #about-container ::-webkit-scrollbar {
    width: 1rem;
    background: inherit;
  }
  #about-container ::-webkit-scrollbar-track {
    background-clip: content-box;
  }
  #about-container ::-webkit-scrollbar-thumb {
    background: #843408;
    border-radius: 0.5rem;
  }
  #about-container ::-webkit-scrollbar-thumb:hover {
    background: #a8420a;
  }
}
.about-toggle {
  background: #fbd7c3;
  border-radius: 0.5rem;
}
#portrait-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#portrait-container #selfie {
  height: auto;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
@media (max-width: 500px) {
  #portrait-container #selfie {
    margin-top: 0.5rem;
    width: 100%;
  }
  #portrait-container #selfie svg {
    margin: 0.5rem 0 0 1.5rem;
  }
}
@media (min-width: 501px) {
  #portrait-container #selfie {
    width: 100%;
    margin: 0.5rem 0 0 1.5rem;
  }
}
#portrait-container #skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#portrait-container #skills-container .row {
  margin: 0.5rem 0;
}
#portrait-container #skills-container .row .skill-icon {
  margin: 0 1rem;
  width: 4vw;
  height: 4vw;
}
#about-text-container {
  font-weight: normal;
  overflow-x: hidden;
  overflow-y: scroll;
}
#about-text-container p {
  font-family: "Jost", sans-serif;
  text-align: justify;
  text-indent: 2rem;
}
@media (max-width: 500px) {
  #about-text-container p {
    line-height: 2.5rem;
    margin: 0 1.1rem 1.1rem 1.1rem;
  }
}
@media (min-width: 501px) {
  #about-text-container p {
    line-height: 3rem;
    margin: 0 4rem 1.1rem 1.1rem;
  }
}
@media (max-width: 500px) {
  #about-text-container {
    width: 100%;
    height: 95%;
    font-size: 2.25rem;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, #843408 5%, #843408 95%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, #843408 5%, #843408 95%, transparent 100%);
  }
}
@media (min-width: 501px) {
  #about-text-container {
    width: 60%;
    height: 95%;
    font-size: 2.5rem;
    margin: 1.1rem 2rem 1.1rem 1.1rem;
  }
}
@media (min-width: 501px) {
  #email-svg {
    transition: filter 0.3s, -webkit-filter 0.3s;
  }
  #email-svg g path {
    transition: stroke 0.3s;
  }
  #email-svg:hover {
    filter: drop-shadow(0px 2px 2px #843408);
    -webkit-filter: drop-shadow(0px 2px 2px #843408);
  }
  #email-svg:hover g path {
    stroke: #fefcfa;
  }
}
