@media (min-width: 501px) {
  #email-svg {
    transition: filter 0.3s, -webkit-filter 0.3s;
  }
  #email-svg g path {
    transition: stroke 0.3s;
  }
  #email-svg:hover {
    filter: drop-shadow(0px 2px 2px #843408);
    -webkit-filter: drop-shadow(0px 2px 2px #843408);
  }
  #email-svg:hover g path {
    stroke: #fefcfa;
  }
}
.about-toggle {
  background: #fbd7c3;
  border-radius: 0.5rem;
}
#selfie {
  width: 25%;
  margin-left: 0.5rem;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
