#projects-container {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 501px) {
  #projects-container {
    scrollbar-color: #e0dae7 #5c4a72;
    scrollbar-width: thin;
  }
  #projects-container ::-webkit-scrollbar {
    width: 1rem;
    background: inherit;
  }
  #projects-container ::-webkit-scrollbar-track {
    background-clip: content-box;
  }
  #projects-container ::-webkit-scrollbar-thumb {
    background: #5c4a72;
    border-radius: 0.5rem;
  }
  #projects-container ::-webkit-scrollbar-thumb:hover {
    background: #6f5989;
  }
}
.carousel-container {
  display: flex;
  border-radius: 0.5rem;
  width: 97.5%;
  height: 97.5%;
}
@media (min-width: 501px) {
  .carousel-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .carousel-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  .carousel-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.carousel-container .carousel-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1.5vh;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, #c3b7d1 5%, #c3b7d1 97.5%, transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0%, #c3b7d1 5%, #c3b7d1 97.5%, transparent 100%);
}
.carousel-container .carousel-slider #project-base-container #base-desktop-image,
.carousel-container .carousel-slider #project-base-container #base-mobile-image {
  opacity: 0;
}
.carousel-container .carousel-slider .individual-project-container {
  position: absolute;
  background-color: white;
  border-radius: 0.5rem;
  width: 70%;
  height: 35.22%;
  padding: 7.5vh 0;
  margin-top: 1.5vh;
  background-color: #c3b7d1;
}
@media (max-width: 500px) {
  .carousel-container .carousel-slider .individual-project-container {
    width: 85%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  .carousel-container .carousel-slider .individual-project-container {
    width: 85%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.carousel-container .carousel-slider .individual-project-container .project-images-desktop {
  margin: 0 5vw;
  border-radius: 0.5rem;
}
@media (max-width: 500px) {
  .carousel-container .carousel-slider .individual-project-container .project-images-desktop {
    position: absolute;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  .carousel-container .carousel-slider .individual-project-container .project-images-desktop {
    position: absolute;
    margin: 0;
  }
}
.carousel-container .carousel-slider .individual-project-container .project-images-mobile {
  margin: 0 5vw;
  border-radius: 0.5rem;
}
@media (max-width: 500px) {
  .carousel-container .carousel-slider .individual-project-container .project-images-mobile {
    position: absolute;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  .carousel-container .carousel-slider .individual-project-container .project-images-mobile {
    position: absolute;
    margin: 0;
  }
}
.carousel-container .carousel-slider .text-container {
  position: absolute;
  align-self: flex-end;
  background-color: #c3b7d1;
  border-radius: 0.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: justify;
  font-family: "Jost", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.carousel-container .carousel-slider .text-container h1 {
  margin: 1vh 0 0 0;
  font-size: 1.75vw;
  align-self: center;
  text-decoration: underline;
}
@media (max-width: 500px) {
  .carousel-container .carousel-slider .text-container h1 {
    font-size: 5.5vw;
  }
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  .carousel-container .carousel-slider .text-container h1 {
    font-size: 5vw;
  }
}
.carousel-container .carousel-slider .text-container p {
  margin: 2vh 1vw 0 1vw;
  text-indent: 2rem;
  text-align: left;
  font-size: 1.5vw;
  line-height: 2.5rem;
}
@media (max-width: 500px) {
  .carousel-container .carousel-slider .text-container p {
    font-size: 5vw;
    margin: 2vh 2vw 0 2vw;
  }
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  .carousel-container .carousel-slider .text-container p {
    font-size: 4vw;
    margin: 2vh 2vw 0 2vw;
    line-height: 3.75rem;
  }
}
.counter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 1.5vh;
}
.counter-container .arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 -2.5%;
}
@media (max-width: 500px) {
  .counter-container .arrow-container {
    margin: 0 5%;
  }
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  .counter-container .arrow-container {
    margin: 0 5%;
  }
}
.counter-container .arrow-container #back-arrow-icon,
.counter-container .arrow-container #next-arrow-icon {
  width: 40%;
  height: auto;
  cursor: pointer;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
.counter-container .arrow-container #back-arrow-icon:hover,
.counter-container .arrow-container #next-arrow-icon:hover {
  filter: drop-shadow(0px 2px 2px #050406);
  -webkit-filter: drop-shadow(0px 2px 2px #050406);
}
@media (max-width: 500px) {
  .counter-container .arrow-container #back-arrow-icon,
  .counter-container .arrow-container #next-arrow-icon {
    width: 80%;
  }
  .counter-container .arrow-container #back-arrow-icon:hover,
  .counter-container .arrow-container #next-arrow-icon:hover {
    filter: none;
    -webkit-filter: none;
  }
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  .counter-container .arrow-container #back-arrow-icon,
  .counter-container .arrow-container #next-arrow-icon {
    width: 80%;
  }
  .counter-container .arrow-container #back-arrow-icon:hover,
  .counter-container .arrow-container #next-arrow-icon:hover {
    filter: none;
    -webkit-filter: none;
  }
}
.counter-container .radio-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.counter-container .radio-button-container svg {
  width: 40%;
  height: auto;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
@media (max-width: 500px) {
  .counter-container .radio-button-container svg {
    width: 45%;
  }
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  .counter-container .radio-button-container svg {
    width: 45%;
  }
}
.counter-container .radio-button-container .radio-button-off {
  cursor: pointer;
}
.counter-container .radio-button-container .radio-button-off:hover {
  filter: drop-shadow(0px 2px 2px #050406);
  -webkit-filter: drop-shadow(0px 2px 2px #050406);
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  #github-svg {
    margin-top: 1.25rem;
  }
}
@media (min-width: 501px) {
  #github-svg {
    transition: filter 0.3s, -webkit-filter 0.3s;
  }
  #github-svg g path {
    transition: stroke 0.3s;
  }
  #github-svg:hover {
    filter: drop-shadow(0px 2px 2px #050406);
    -webkit-filter: drop-shadow(0px 2px 2px #050406);
  }
  #github-svg:hover g path {
    stroke: #e0dae7;
  }
}
