#projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c3b7d1;
  border-radius: 0.5rem;
  width: 97.5%;
  height: 97.5%;
}
.carousel-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.carousel-slider img {
  margin: 2rem 2rem 0 2rem;
  border-radius: 0.5rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 55vw;
}
.arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#back-arrow-icon,
#next-arrow-icon {
  width: 5vw;
  height: auto;
  margin: 0 10vw;
  cursor: pointer;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
  #github-svg {
    margin-top: 1.25rem;
  }
}
@media (min-width: 501px) {
  #github-svg {
    transition: filter 0.3s, -webkit-filter 0.3s;
  }
  #github-svg g path {
    transition: stroke 0.3s;
  }
  #github-svg:hover {
    filter: drop-shadow(0px 2px 2px #050406);
    -webkit-filter: drop-shadow(0px 2px 2px #050406);
  }
  #github-svg:hover g path {
    stroke: #e0dae7;
  }
}
