#linkedin-svg {
  transition: filter 0.3s, -webkit-filter 0.3s;
}
#linkedin-svg g path,
#linkedin-svg g circle,
#linkedin-svg g rect {
  transition: stroke 0.3s, fill 0.3s;
}
#linkedin-svg:hover {
  filter: drop-shadow(0px 2px 2px #2f191f);
  -webkit-filter: drop-shadow(0px 2px 2px #2f191f);
}
#linkedin-svg:hover #color path,
#linkedin-svg:hover #color circle,
#linkedin-svg:hover #color #rect-fill {
  fill: #e3dde9;
}
#linkedin-svg:hover #line path,
#linkedin-svg:hover #line circle,
#linkedin-svg:hover #line rect {
  stroke: #e3dde9;
}
