@import (reference) "../variables.less";
@import (reference) "../mixins.less";

.projects-section {
  background-color: @color-1-purple;

  .projects-title {
    background: lighten(@color-1-purple, 10%);
  }
}

.resume-section {
  background-color: @color-2-blue;

  .resume-title {
    background: lighten(@color-2-blue, 10%);
  }
}

.social-section {
  background-color: @color-3-red;

  .social-title {
    background: lighten(@color-3-red, 10%);
  }
}

.about-section {
  background-color: @color-4-orange;

  .about-title {
    background: lighten(@color-4-orange, 10%);
  }
}

.titles-section {
  background-color: @color-5-yellow;

  .titles-title {
    background: lighten(@color-5-yellow, 10%);
  }
}
