@import (reference) "../variables.less";
@import (reference) "../mixins.less";

.projects-section {
  background-color: @color-1-purple;
  color: darken(@color-1-purple, 35%);

  .projects-title {
    background: lighten(@color-1-purple, 30%);
    transition: background 0.25s, box-shadow 0.25s;

    &:hover {
      background: lighten(@color-1-purple, 35%);
      box-shadow: @bs-dimensions darken(@color-1-purple, 35%);
      -moz-box-shadow: @bs-dimensions darken(@color-1-purple, 35%);
      -webkit-box-shadow: @bs-dimensions darken(@color-1-purple, 35%);
    }
  }
}

.resume-section {
  background-color: @color-2-blue;
  color: darken(@color-2-blue, 35%);

  .resume-title {
    background: lighten(@color-2-blue, 30%);
    transition: background 0.25s, box-shadow 0.25s;

    &:hover {
      background: lighten(@color-2-blue, 33%);
      box-shadow: @bs-dimensions darken(@color-2-blue, 35%);
      -moz-box-shadow: @bs-dimensions darken(@color-2-blue, 35%);
      -webkit-box-shadow: @bs-dimensions darken(@color-2-blue, 35%);
    }
  }
}

.social-section {
  background-color: @color-3-red;
  color: darken(@color-3-red, 37.5%);

  .social-title {
    background: lighten(@color-3-red, 25%);
    transition: background 0.25s, box-shadow 0.25s;

    &:hover {
      background: lighten(@color-3-red, 27.5%);
      box-shadow: @bs-dimensions darken(@color-3-red, 35%);
      -moz-box-shadow: @bs-dimensions darken(@color-3-red, 35%);
      -webkit-box-shadow: @bs-dimensions darken(@color-3-red, 35%);
    }
  }
}

.about-section {
  background-color: @color-4-orange;
  color: darken(@color-4-orange, 35%);

  .about-title {
    background: lighten(@color-4-orange, 25%);
    transition: background 0.25s, box-shadow 0.25s;

    &:hover {
      background: lighten(@color-4-orange, 27.5%);
      box-shadow: @bs-dimensions darken(@color-4-orange, 35%);
      -moz-box-shadow: @bs-dimensions darken(@color-4-orange, 35%);
      -webkit-box-shadow: @bs-dimensions darken(@color-4-orange, 35%);
    }
  }
}

.titles-section {
  background-color: @color-5-yellow;
  color: darken(@color-5-yellow, 35%);

  .titles-title {
    background: lighten(@color-5-yellow, 25%);
    transition: background 0.25s, box-shadow 0.25s;
    z-index: 0;
  }
}

svg {
  width: 7.5vw;
  height: auto;
}
