@import (reference) "../variables";
@import (reference) "../mixins";

#projects-container {
  display: flex;
  .flex-attributes(row, center, center);
}

.carousel-container {
  overflow: hidden;
  .flex-attributes(row, center, center);
  display: flex;
}

.carousel-slider {
  display: flex;
  .flex-attributes(row, center, center);
  overflow: hidden;

  img {
    margin: 0 2rem;
    width: 15%;
  }
}

#back-arrow-icon,
#next-arrow-icon {
  width: 5rem;
  height: 5rem;
}

// Icon SVG hover transition
#github-svg {
  @media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
    margin-top: 1.25rem;
  }

  @media (min-width: 501px) {
    transition: filter 0.3s, -webkit-filter 0.3s;
    g {
      path {
        transition: stroke 0.3s;
      }
    }
    &:hover {
      filter: drop-shadow(0px 2px 2px #050406);
      -webkit-filter: drop-shadow(0px 2px 2px #050406);
      g {
        path {
          stroke: #e0dae7;
        }
      }
    }
  }
}
