@import (reference) "../variables";
@import (reference) "../mixins";

#projects-container {
  display: flex;
  .flex-attributes(column, center, center);
}

.carousel-container {
  display: flex;
  .flex-attributes(column, center, center);
  cursor: default;
  width: 97.5%;
  height: 95%;
  // padding: 2rem 0 0 0;
  // margin: 0 2rem;
  background-color: lighten(@color-1-purple, 40%);
  border-radius: 0.5rem;
}

.carousel-slider {
  display: flex;
  .flex-attributes(row, center, flex-end);

  img {
    margin: 2rem 2rem 0 2rem;
    border-radius: 0.5rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transform: translateX(1020px);
  }

  #proj-4-clone {
    -webkit-mask-image: linear-gradient(
      to left,
      #000 0%,
      transparent 15%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to left,
      #000 0%,
      transparent 15%,
      transparent 100%
    );
    clip-path: inset(0% 0% 0% 85%);
  }

  #proj-2 {
    -webkit-mask-image: linear-gradient(
      to right,
      #000 0%,
      transparent 15%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to right,
      #000 0%,
      transparent 15%,
      transparent 100%
    );
    clip-path: inset(0% 85% 0% 0%);
  }
}

.arrow-container {
  display: flex;
  .flex-attributes(row, center, center);
  height: 7.5vw;
}

#back-arrow-icon,
#next-arrow-icon {
  width: 5%;
  height: auto;
  padding: 0 10vw;
  cursor: pointer;
  z-index: 1;
}

// Icon SVG hover transition
#github-svg {
  @media (min-width: 768px) and (max-width: 1366px) and (orientation: portrait) {
    margin-top: 1.25rem;
  }

  @media (min-width: 501px) {
    transition: filter 0.3s, -webkit-filter 0.3s;
    g {
      path {
        transition: stroke 0.3s;
      }
    }
    &:hover {
      filter: drop-shadow(0px 2px 2px #050406);
      -webkit-filter: drop-shadow(0px 2px 2px #050406);
      g {
        path {
          stroke: #e0dae7;
        }
      }
    }
  }
}
