/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background: #5c4a72;
  background: linear-gradient(90deg, #5c4a72 0%, #a3586d 25%, #f46a4e 50%, #f4874b 75%, #f3b05a 100%);
}
.container {
  display: flex;
  width: 100%;
  height: calc(100%);
  position: fixed;
}
@media (max-width: 500px) {
  .container {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 501px) {
  .container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
section {
  display: flex;
}
section p,
section img {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}
section p {
  text-align: center;
}
@media (max-width: 500px) {
  section {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  section p {
    font-size: 2rem;
  }
  section a svg {
    height: 5vw;
  }
}
@media (min-width: 501px) and (max-width: 1024px) {
  section p {
    font-size: 1.25rem;
  }
}
@media (min-width: 1025px) {
  section p {
    font-size: 2.25rem;
  }
}
@media (min-width: 501px) {
  section {
    height: 100%;
  }
  section a svg {
    width: 5vw;
  }
}
section .title-text {
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  section .title-text {
    width: 60%;
    height: 60%;
    margin: 0 1rem;
  }
}
@media (min-width: 501px) {
  section .title-text {
    width: 70%;
    height: 10%;
  }
}
section .titles-title {
  cursor: default;
}
@media (max-width: 500px) {
  section .titles-title {
    width: 40%;
  }
}
.main-section {
  display: flex;
}
@media (min-width: 501px) {
  .main-section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.titles-section {
  display: flex;
}
@media (min-width: 501px) {
  .titles-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.projects-section {
  background-color: #5c4a72;
  color: #050406;
}
.projects-section .projects-title {
  background: #a999bc;
  transition: background 0.25s, box-shadow 0.25s;
}
.projects-section .projects-title:hover {
  background: #b6a8c7;
  box-shadow: 0px 2px 4px 1px #050406;
  -moz-box-shadow: 0px 2px 4px 1px #050406;
  -webkit-box-shadow: 0px 2px 4px 1px #050406;
}
.resume-section {
  background-color: #a3586d;
  color: #2f191f;
}
.resume-section .resume-title {
  background: #dabac3;
  transition: background 0.25s, box-shadow 0.25s;
}
.resume-section .resume-title:hover {
  background: #dfc4cc;
  box-shadow: 0px 2px 4px 1px #2f191f;
  -moz-box-shadow: 0px 2px 4px 1px #2f191f;
  -webkit-box-shadow: 0px 2px 4px 1px #2f191f;
}
.social-section {
  background-color: #f46a4e;
  color: #7b1b08;
}
.social-section .social-title {
  background: #fbcfc6;
  transition: background 0.25s, box-shadow 0.25s;
}
.social-section .social-title:hover {
  background: #fcd9d2;
  box-shadow: 0px 2px 4px 1px #871e08;
  -moz-box-shadow: 0px 2px 4px 1px #871e08;
  -webkit-box-shadow: 0px 2px 4px 1px #871e08;
}
.about-section {
  background-color: #f4874b;
  color: #843408;
}
.about-section .about-title {
  background: #fbd7c3;
  transition: background 0.25s, box-shadow 0.25s;
}
.about-section .about-title:hover {
  background: #fcdfcf;
  box-shadow: 0px 2px 4px 1px #843408;
  -moz-box-shadow: 0px 2px 4px 1px #843408;
  -webkit-box-shadow: 0px 2px 4px 1px #843408;
}
.titles-section {
  background-color: #f3b05a;
  color: #90560a;
}
.titles-section .titles-title {
  background: #fce9d1;
  transition: background 0.25s, box-shadow 0.25s;
  z-index: 0;
}
svg {
  width: 7.5vw;
  height: auto;
}
