@import "reset";
@import (reference) "variables";
@import (reference) "mixins";

// CSS (less)
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;

  // background gradient
  background: rgb(92, 74, 114);
  background: linear-gradient(
    90deg,
    rgba(92, 74, 114, 1) 0%,
    rgba(163, 88, 109, 1) 25%,
    rgba(244, 106, 78, 1) 50%,
    rgba(244, 135, 75, 1) 75%,
    rgba(243, 176, 90, 1) 100%
  );
}

.container {
  display: flex;
  width: 100%;
  height: calc(100%);
  position: fixed;

  @media (max-width: 500px) {
    .flex-attributes(column-reverse, flex-start, flex-start);
  }

  @media (min-width: 501px) {
    .flex-attributes(row, flex-start, flex-start);
  }
}

section {
  p,
  img {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
  }

  p {
    text-align: center;
  }

  display: flex;

  // Mobile displays
  @media (max-width: 500px) {
    width: 100%;
    .flex-attributes(row, center, center);

    p {
      font-size: 2rem;
    }

    a {
      svg {
        height: 5vw;
      }
    }
  }

  // Tablet displays
  @media (min-width: 501px) and (max-width: 1024px) {
    p {
      font-size: 1.25rem;
    }
  }

  // Desktop displays
  @media (min-width: 1025px) {
    p {
      font-size: 2.25rem;
    }
  }

  // Tablet and Desktop displays
  @media (min-width: 501px) {
    height: 100%;

    a {
      svg {
        width: 5vw;
      }
    }
  }

  .title-text {
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    margin-top: 0.5rem;

    display: flex;
    .flex-attributes(column, center, center);

    @media (max-width: 500px) {
      width: 60%;
      height: 60%;
      margin: 0 1rem;
    }

    @media (min-width: 501px) {
      width: 70%;
      height: 10%;
    }
  }

  .titles-title {
    cursor: default;

    @media (max-width: 500px) {
      width: 40%;
    }
  }
}

.main-section {
  display: flex;
  @media (min-width: 501px) {
    .flex-attributes(column, flex-start, center);
  }
}

.titles-section {
  display: flex;
  @media (min-width: 501px) {
    .flex-attributes(column, center, center);
  }
}

@import "./Sections/Global";
